
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book List</h2>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>

@section scripts{

    <script>

        $(document).ready(function () {

            var table = $('#books').DataTable({
                ajax: {
                    url: '../../api/bookstore',
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, books) {
                            return "<a href='/bookstore/edit/" + books.id + "'>" + books.name + "</a>";
                        }
                    },
                    {
                        data: "genres.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-books-id=" + data + ">Delete</button>"
                        }
                    }
                ]
            });

            $("#books").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/bookstore/" + button.attr("data-books-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}